default_install_hook_types:
  - pre-commit

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: system
        pass_filenames: false
